* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#app > * {
    width: 100%;
}

.page {
    display: flex;
    height: 85vh;
}

#nav {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

#navLogo {
    width: 200px;
    padding: 15px;
}

#navButtons {
    list-style: none;
    display: flex;
    align-items: center;
}

.navButton {
    padding: 10px;
}

#landing {
    background-color: lavender;
}

#about {
    background-color: bisque;
}

#calendar {
    background-color: skyblue;
}

#contact {
    background-color: darkgoldenrod;
}

#contactForm {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.contactFormField {
    margin-left: 10px;
    margin-top: 5px;
    border: 1px solid black;
}

#email_message {
    width: 30vw;
    height: 10vh;
}

#submitButton {
    border: 1px solid black;
    margin-top: 10px;
    cursor: pointer;
    width: 50px;
}

#footer {
    background-color: grey;
}

