* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

#app > * {
    width: 100%;
}

.page {
    display: flex;
    align-items: center;
    height: 100%;
}

#nav {
    background-color: aquamarine;
    margin: 0;
}

#navLogo {
    width: 200px;
}

#landing {
    background-color: lavender;
}

#footer {
    background-color: grey;
}